<div [@routerTransition]>
    <app-page-header [heading]="'Registrar de Incidencia en Citas de un Médico'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col">
            <div *ngIf="hasError" class="alert alert-warning alert-dismissible" style="margin: 20px;" role="alert">
                <h6 class="alert-heading">Ha ocurrido un problema!</h6>
                <hr>
                <p class="mb-0">{{infoError}}</p>

                <button type="button" class="btn btn-warning" style="color: #faeecb; margin-top: 10px;" (click)="hasError = false;">Cerrar</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *ngIf="success" class="alert alert-success alert-dismissible" role="alert">
                <h6 class="alert-heading">Todo ha salido bien!</h6>
                <hr>
                <p class="mb-0">{{info}}</p>
                <button type="button" class="btn btn-success" style="color: #d8f5df; margin-top: 10px;" (click)="success = false;">Cerrar</button>
            </div>
        </div>
    </div>
    <br/>
    <div class="col" *ngIf="!med_seleccionado && show" >
        <div class="card mb-3">
            <div class="card-header">
                <b>Seleccionar Médico</b>
            </div>
            <div class="card-body table-responsive">
                <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover" class="table">
                    <thead>
                        <tr>
                            <th>RUN</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Especialidad</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let medico of medicos">
                            <th scope="row">{{medico.run}}</th>
                            <td>{{medico.nombres}}</td>
                            <td>{{medico.apellidos}}</td>
                            <td>{{medico.especialidad}}</td>
                            <td>
                                <button class="btn btn-primary" (click)="seleccionarMedico(medico)">Elegir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="med_seleccionado">
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    <b>Médico Seleccionado</b>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>RUN:</b> {{medico.run}}</li>
                    <li class="list-group-item"><b>Dr. {{medico.nombres + ' ' + medico.apellidos}}</b></li>
                    <li class="list-group-item"><b>Especialidad:</b> {{medico.especialidad}}</li>
                </ul>
                <div class="card-footer">
                    <button class="btn btn-secondary" (click)="elegirOtroMedico()">Elegir otro Médico</button>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-header">
                    <b>Registrar Inicidencia en Citas del Dr. {{medico.apellidos}}</b>
                </div>
                <div class="card-body">
                    <form [formGroup]="incidenciaForm">
                        <div class="form-group">
                            <label for="fecha">Fecha de Incidencia</label>
                            <input #fecha (change)="incidenciaForm.controls.fecha.setValue(fecha.value)" class="form-control input-underline input-lg" type="date" />
                            <input formControlName="fecha" [value]="fecha.value" class="form-control input-underline input-lg" type="hidden" />
                            <mat-error *ngIf="((incidenciaForm.controls.fecha.touched && incidenciaForm.controls.fecha.errors) || (incidenciaForm.controls.fecha.errors && submit))">
                                <span *ngIf="incidenciaForm.controls.fecha.errors.required">Este campo es obligatorio.</span>
                            </mat-error>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción de Incidencia</label>
                            <textarea
                                id="descripcion"
                                formControlName="descripcion"
                                class="form-control input-underline input-lg">
                            </textarea>
                            <mat-error *ngIf="((incidenciaForm.controls.descripcion.touched && incidenciaForm.controls.descripcion.errors) || (incidenciaForm.controls.descripcion.errors && submit))">
                                <span *ngIf="incidenciaForm.controls.descripcion.errors.required">Este campo es obligatorio.</span>
                            </mat-error>
                        </div>
                        <div class="form-group">
                            <label for="tipo">Tipo Incidencia</label>
                            <select formControlName="tipo" id="tipo" class="form-control input-underline input-lg">
                                <option *ngFor="let tipo of tipos" [value]="tipo">{{tipo}}</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary" (click)="onSubmit()">Registrar Incidencia</button>
                </div>
            </div>
        </div>
    </div>
</div>
