<div class="row" style="margin: 20px;">
    <div class="col-4 text-center">
        <img class="user-avatar" src="assets/images/icon_usuario.png" style="width:70%; height: auto;" />
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <b>Paciente</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><b>RUN:</b> {{paciente?.run}}</li>
                <li class="list-group-item"><b>Nombres:</b> {{paciente?.nombres}}</li>
                <li class="list-group-item"><b>Apellidos:</b> {{paciente?.apellidos}}</li>
                <li class="list-group-item"><b>Teléfono:</b> {{paciente?.telefono}}</li>
                <li class="list-group-item"><b>Fecha de Nacimiento:</b> {{paciente?.fecha_nacimiento}}</li>
            </ul>
        </div>
    </div>
</div>
