<div style="padding: 10px;" id="print">

    <div class="card-qr">
        <div class="row row-qr">
            <div class="col-6 col-qr">
                <img [src]="url_qr">
            </div>
            <div class="col-6">
                <h4 class="text-title-card-qr">TARJETA PARA ATENCIÓN</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <b>NOMBRES: </b>{{paciente.nombres}}
                    </li>
                    <li class="list-group-item">
                        <b>APELLIDOS: </b>{{paciente.apellidos}}
                    </li>
                    <li class="list-group-item">
                        <b>RUN: </b>{{paciente.run}}
                    </li>
                    <li class="list-group-item">
                        <b>FECHA NACIMIENTO: </b>{{paciente.fecha_nacimiento}}
                    </li>
                    <li class="list-group-item">
                        <b>TELÉFONO: </b>{{paciente.telefono}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


