<div [@routerTransition] class="login-page">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <img class="user-avatar" src="assets/images/icon_usuario.png" width="150px" />
            <h1>Carnet Virtual</h1>
            <h3>Bienvenido <b>{{nombre}}</b></h3>
            <h5>Es su primer inicio de sesión</h5>
            <h5>Debe cambiar su contraseña</h5>
            <form role="form" [formGroup]="changeForm" (submit)="onChangePassword()">
                <div class="form-content">
                    <div class="form-group">
                        <input formControlName="password" [placeholder]="'Contraseña Nueva'" class="form-control input-underline input-lg" type="password" />
                        <mat-error *ngIf="(changeForm.controls.password.touched && changeForm.controls.password.errors ) || (changeForm.controls.password.errors && submit)">
                            <span *ngIf="changeForm.controls.password.errors?.required">Este campo es obligatorio.</span>
                            <span *ngIf="changeForm.controls.password.errors?.pattern">Este campo debe estar compuesto por letras y números, un mínimo de 6 y un máximo de 12 caracterés.</span>
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <input formControlName="password_confirmation" [placeholder]="'Confirmación de Contraseña Nueva'" class="form-control input-underline input-lg" type="password" />
                        <mat-error *ngIf="(changeForm.controls.password_confirmation.touched) || (changeForm.controls.password_confirmation.errors && submit)">
                            <span *ngIf="changeForm.controls.password_confirmation.errors?.required">Este campo es obligatorio.<br/></span>
                            <span *ngIf="changeForm.controls.password_confirmation.errors?.pattern">Este campo debe estar compuesto por letras y números, un mínimo de 6 y un máximo de 12 caracterés.</span>
                            <span *ngIf="changeForm.controls.password_confirmation.value != changeForm.controls.password.value">Las contraseñas ingresadas no coinciden.</span>
                        </mat-error>
                    </div>
                </div>
                <mat-error *ngIf="error">
                    <span>{{info}}</span>
                </mat-error>
                <br/>
                <button style="margin-top: 20px;" type="submit" class="btn rounded-btn">{{
                    'Cambiar Contraseña'
                }}</button> &nbsp;
            </form>

            <div style="margin-top: 120px;">
                <img src="assets/images/ssn.png" width="100px" />
                <p>Una Prototipo de Sistema para <br/>Consultorio de Especialidades.</p>
            </div>
        </div>
    </div>
</div>
